.banner-image {
    width: 100%;
}

.banner-image__text {
    color: black !important;
}

@media(max-width: 857px) {
    .banner-image__text {
        font-size: 3rem !important;
    }
}

@media(max-width: 640px) {
    .banner-image__text {
        font-size: 1.5rem !important;
    }
}

.banner-image__wrapper {
    z-index: 1000;
    position: absolute;
    width: 80%;
    left: -4px;
    top: 30px;
}

.title-wrapper {
    position: relative;
}

@media(max-width: 857px) {
    .banner-image__wrapper {
        z-index: 1000;
        position: absolute;
        width: 65%;
        left: -3px;
        top: 30px;
    }
}

@media(max-width: 640px) {
    .banner-image__wrapper {
        z-index: 1000;
        position: absolute;
        width: 19%;
        left: 41%;
    }
}

/*  Forms  */
.homepage form input {
     padding: .5rem !important;
}

.homepage form textarea {
    min-height: 20% !important;
}

.homepage form div div {
    margin-bottom: .5rem !important;
}
