.banner-image__text {
    width: 100%;
    display: block;
}

.banner-image__wrapper {
    z-index: 1000;
    position: absolute;
    width: 80%;
    left: -4px;
    top: 30px;
}

.title-wrapper {
    position: relative;
}

@media(max-width: 857px) {
    .banner-image__wrapper {
        z-index: 1000;
        position: absolute;
        width: 65%;
        left: -3px;
        top: 30px;
    }
}

@media(max-width: 640px) {
    .banner-image__wrapper {
        z-index: 1000;
        position: absolute;
        width: 19%;
        left: 41%;
    }
}